{% load static %}
<div class="modals" id = "modals_progect_1">
    <div class="modals_dialog">

        <div class="modals_work">
            <button class = "modal_close" type="button" data-close>
                <img src="{% static 'main/assets/Close.png' %}">
             </button>


            <div class="modal_work_prewiew">
                <img class="img3" src="{% static 'main/assets/Frame 49.png' %}">
            </div>

            <div class="modal_work_content">

                <div class="modal_work_header">
                    <h3 class = "modal_worh_title">Месяц без пропусков</h3>
                    <div class="modal_work_info">Ноябрь | 2024</div>
                </div>
                <div class="modal_work_client">
                    <div class = "modals_client">Критерии:</div>
                    <div>ВСЁ НАСТОЛЬКО ЛЕГКО?</div>
                </div>
                <div class="modal_work_text">
                    <p>Да, для выполнения этого задания(квеста) надо ходить на занятия в Кванториум целый месяц "Ноябрь" без пропусков!!!</p>
                    <p></p>
                </div>




            </div>



        </div>

    </div>
</div>

<div class="modals" id = "modals_progect_2">
    <div class="modals_dialog">

        <div class="modals_work">
            <button class = "modal_close" type="button" data-close>
                <img src="{% static 'main/assets/Close.png' %}">
             </button>


            <div class="modal_work_prewiew">
                <img class="img3" src="{% static 'main/assets/Frame 54.png' %}">
            </div>

            <div class="modal_work_content">

                <div class="modal_work_header">
                    <h3 class = "modal_worh_title">Участие в Мероприятии</h3>
                    <div class="modal_work_info">Заряд Хакатон | 2024</div>
                </div>
                <div class="modal_work_client">
                    <div class = "modals_client"></div>
                    <div></div>
                </div>
                <div class="modal_work_text">
                    <p>Заряд Хакатон это межрегиональное мероприятие во время которого участники соревнуются чей проект лучше</p>
                    <p></p>
                </div>




            </div>



        </div>

    </div>
</div>



<div class="modals" id = "modals_progect_3">
    <div class="modals_dialog">

        <div class="modals_work">
            <button class = "modal_close" type="button" data-close>
                <img src="{% static 'main/assets/Close.png' %}">
             </button>


            <div class="modal_work_prewiew">
                <img class="img3" src="{% static 'main/assets/Frame 51.png' %}">
            </div>

            <div class="modal_work_content">

                <div class="modal_work_header">
                    <h3 class = "modal_worh_title">Месяц без пропусков</h3>
                    <div class="modal_work_info">Сентябрь | 2024</div>
                </div>
                <div class="modal_work_client">
                    <div class = "modals_client">Критерии:</div>
                    <div>ВСЁ НАСТОЛЬКО ЛЕГКО?</div>
                </div>
                <div class="modal_work_text">
                    <p>Да, для выполнения этого задания(квеста) надо ходить на занятия в Кванториум целый месяц "Сентябрь" без пропусков!!!</p>
                    <p></p>
                </div>


            </div>



        </div>

    </div>
</div>
<div class="modals" id = "modals_progect_4">
    <div class="modals_dialog">

        <div class="modals_work">
            <button class = "modal_close" type="button" data-close>
                <img src="{% static 'main/assets/Close.png' %}">
             </button>


            <div class="modal_work_prewiew">
                <img class="img3" src="{% static 'main/assets/Frame 80.png' %}">
            </div>

            <div class="modal_work_content">

                <div class="modal_work_header">
                    <h3 class = "modal_worh_title">Участие в Мероприятии</h3>
                    <div class="modal_work_info">ТехноГТО | 2024</div>
                </div>
                <div class="modal_work_client">
                    <div class = "modals_client"></div>
                    <div></div>
                </div>
                <div class="modal_work_text">
                    <p>Принять участие в ТехноГТО это Мероприятие в котором робототехники соревнуются чей робот лучше</p>
                    <p></p>
                </div>




            </div>



        </div>

    </div>
</div>
<div class="modals" id = "modals_progect_5">
    <div class="modals_dialog">

        <div class="modals_work">
            <button class = "modal_close" type="button" data-close>
                <img src="{% static 'main/assets/Close.png' %}">
             </button>


            <div class="modal_work_prewiew">
                <img class="img3" src="{% static 'main/assets/Frame 59.png' %}">
            </div>

            <div class="modal_work_content">

                <div class="modal_work_header">
                    <h3 class = "modal_worh_title">Участие в Мероприятии</h3>
                    <div class="modal_work_info">Заряд Хакатон | 2023</div>
                </div>
                <div class="modal_work_client">
                    <div class = "modals_client"></div>
                    <div></div>
                </div>
                <div class="modal_work_text">
                    <p>Заряд Хакатон это мероприятие во время которого участники соревнуются чей проект лучше</p>
                    <p></p>
                </div>


            </div>



        </div>

    </div>
</div>

<div class="modals" id = "modals_progect_6">
    <div class="modals_dialog">

        <div class="modals_work">
            <button class = "modal_close" type="button" data-close>
                <img src="{% static 'main/assets/Close.png' %}">
             </button>


            <div class="modal_work_prewiew">
                <img class="img3" src="{% static 'main/assets/Frame 50.png' %}">
            </div>

            <div class="modal_work_content">

                <div class="modal_work_header">
                    <h3 class = "modal_worh_title">Месяц без пропусков</h3>
                    <div class="modal_work_info">Май | 2024</div>
                </div>
                <div class="modal_work_client">
                    <div class = "modals_client">Критерии:</div>
                    <div>ВСЁ НАСТОЛЬКО ЛЕГКО?</div>
                </div>
                <div class="modal_work_text">
                    <p>Да, для выполнения этого задания(квеста) надо ходить на занятия в Кванториум целый месяц "Май" без пропусков!!!</p>
                    <p></p>
                </div>



            </div>



        </div>

    </div>
</div>

<div class="modals" id = "modals_resume">
    <div class="modals_dialog" >

        <div class="modals_work">
            <button class = "modal_close" type="button" data-close>
                <img src="{% static 'main/assets/Close.png' %}">
             </button>
        </div>
        <div class="modal_resume_content">
            <h3 class="modal_title_resume text_center">ЛИЧНАЯ ИНФОРМАЦИЯ</h3>
            <div class="text_center">
                <button class="btn"  href="">Скачать в PDF</button>
                <button class="btn"  href="">Печатать</button>
            </div>

          <div class="timeline  text_center">
                 <div class="timeline_col timeline_col--left ">
                     <h4 class="timeline_title">Мероприятия</h4>
                     <div class="timeline_item">
                        <time class="timeline_date" datetime="01-09-2023">2024</time>
                        <h5 class="timeline_subtitle">Заряд Хакатон</h5>
                        <div class="timeline_position">Участник</div>
                        <div class="timeline_text">
                            <p>
                               Кейс: Кванториум
                            </p>
                        </div>
                     </div>
                     <div class="timeline_item">
                        <time class="timeline_date" datetime="22-08-2023">2023</time>
                        <h5 class="timeline_subtitle">Заряд Хакатон</h5>
                        <div class="timeline_position">Педагог дополнительного образования</div>
                        <div class="timeline_text">
                            <p>
                                Направления: IT-квантум / ПромДизайн-квантум
                            </p>
                        </div>
                     </div>
                </div>
                <div class="timeline_col  timeline_col--right">
                    <h4 class="timeline_title">Квантумы</h4>
                    <div class="timeline_item">
                        <time class="timeline_date" datetime="01-09-2023">2023</time>
                        <h5 class="timeline_subtitle">IT-квантум</h5>
                        <div class="timeline_position">Информационные системы и технологии</div>
                        <div class="timeline_text">
                            <p>
                                Преподаватель: Несмысленова Аделина Артемовна
                            </p>
                        </div>
                     </div>

                     <div class="timeline_item">
                        <time class="timeline_date" datetime="01-09-2019">2019 - 2022</time>
                        <h5 class="timeline_subtitle">НаноКвантум</h5>
                        <div class="timeline_position">Нанотехнологии</div>
                        <div class="timeline_text">
                            <p>
                                Преподватель:Рудых Валерия Юрьевна. Проект защищен
                            </p>
                        </div>
                     </div>



                     <h4 class="timeline_title">навыки</h4>

                     <div class="timeline_progressbar">

                        <div class="progres_item">
                             <div class="progress_left">
                                <div class="progress_tutle">Программирование</div>
                             </div>
                            <div class="progress_right">
                                 <div class="progress_bar">
                                    <div class="progress_pro" style="width: 70%"></div>
                                 </div>
                            </div>
                        </div>
                        <div class="progres_item">
                            <div class="progress_left">
                               <div class="progress_tutle">Химия</div>
                            </div>
                           <div class="progress_right">
                                <div class="progress_bar">
                                   <div class="progress_pro" style="width: 90%"></div>
                                </div>
                           </div>
                       </div>
                       <div class="progres_item">
                        <div class="progress_left">
                           <div class="progress_tutle">Общительность</div>
                        </div>
                       <div class="progress_right">
                            <div class="progress_bar">
                               <div class="progress_pro" style="width: 70%"></div>
                            </div>
                       </div>
                        </div>
                    </div>
                </div>
          </div>

        </div>
    </div>
</div>



<div class="modals" id = "modals_hire_me">
    <div class="modals_dialog modals_dialog--sm">

        <div class="modals_work">
            <button class = "modal_close" type="button" data-close>
                <img src="{% static 'main/assets/Close.png' %}">
             </button>
        </div>



            <div class="contact">
                <div class="contact_left">
                    <h3 class="contact_title">Вперед к<br> выиграшам!</h3>
                    <div class="modal_subtitle">Напиши заявку или позвони нам!</div>

                    <ul class="contact_info">
                        <li class="contact_info_i">8 (8452) 99-89-76</li>
                        <li class="contact_info_i">kvantorium64@soiro.ru</li>
                    </ul>

                    <form action="" method="post">
                        <div class="form_group">
                        <label class="label" for="input-email">Мероприятия</label>
                        <input class="input" name="input-email" type="text" placeholder="Мероприятия" id = "input-email">
                        </div>

                        <div class="form_group">
                            <label class="label" for="input-email">Сообщение</label>
                            <textarea class="textarea" name = "input-text" type="text" placeholder="Напишите ваше сообщение" id = "input-text"></textarea>
                        </div>

                        <button class="btn"  href="">отправить</button>
                    </form>

                </div>




                <div class="contact_right">
                    <img src="{% static 'main/assets/blue.jpg' %}">
                </div>


            </div>

    </div>
</div>


<div class="modals" id = "modals_price">
    <div class="modals_dialog">

        <div class="modals_work">
            <button class = "modal_close" type="button" data-close>
                <img src="{% static 'main/assets/Close.png' %}">
             </button>


            <div class="modal_work_prewiew">
                <img class="img3" src="{% static 'main/assets/bomb.jfif' %}">
            </div>

            <div class="modal_work_content">

                <div class="modal_work_header">
                    <h3 class = "modal_worh_title">Бомбочка для ванны</h3>
                    <div class="modal_work_info">3</div>
                </div>
                <div class="modal_work_client">
                    <div class = "modals_client">Срок:</div>
                    <div>от 2 дней</div>
                </div>
                <div class="modal_work_text">
                    <p>бомбочка для ванны подарит незабываемые впечатления от принятия ванны с ней, ведь она от КВАНТОРИУМА</p>
                    <p></p>
                </div>



            </div>



        </div>

    </div>
</div>




<div class="modals" id = "modals_price2">
    <div class="modals_dialog">

        <div class="modals_work">
            <button class = "modal_close" type="button" data-close>
                <img src="{% static 'main/assets/Close.png' %}">
             </button>


            <div class="modal_work_prewiew">
                <img class="img3" src="{% static 'main/assets/t-shirt.jfif' %}">
            </div>

            <div class="modal_work_content">

                <div class="modal_work_header">
                    <h3 class = "modal_worh_title">ФУТБОЛКА</h3>
                    <div class="modal_work_info">5</div>
                </div>
                <div class="modal_work_client">
                    <div class = "modals_client">В наличие:</div>
                    <div>8</div>
                </div>
                <div class="modal_work_text">
                    <p>Мерчовая футболка - это стиль кванториума, ходить в ней можно где угодно :)</p>
                    <p>Также, нося её, ты показываешь свой статус</p>
                </div>



            </div>



        </div>

    </div>
</div>

<div class="modals" id = "modals_price3">
    <div class="modals_dialog">

        <div class="modals_work">
            <button class = "modal_close" type="button" data-close>
                <img src="{% static 'main/assets/Close.png' %}">
             </button>


            <div class="modal_work_prewiew">
                <img class="img3" src="{% static 'main/assets/cap.jpg' %}">
            </div>

            <div class="modal_work_content">

                <div class="modal_work_header">
                    <h3 class = "modal_worh_title">КЕПКА</h3>
                    <div class="modal_work_info">5</div>
                </div>
                <div class="modal_work_client">
                    <div class = "modals_client">В наличие:</div>
                    <div>2</div>
                </div>
                <div class="modal_work_text">
                    <p>Кепка от квантоиума показывает твой уникальный стиль!</p>
                    <p>Также она отлично сочитается с футболкой от кванториума :-)</p>
                </div>



            </div>



        </div>

    </div>
</div>

<div class="modals" id = "modals_price4">
    <div class="modals_dialog">

        <div class="modals_work">
            <button class = "modal_close" type="button" data-close>
                <img src="{% static 'main/assets/Close.png' %}">
             </button>


            <div class="modal_work_prewiew">
                <img class="img3" src="{% static 'main/assets/pen.png' %}">
            </div>

            <div class="modal_work_content">

                <div class="modal_work_header">
                    <h3 class = "modal_worh_title">Ручка</h3>
                    <div class="modal_work_info">4</div>
                </div>
                <div class="modal_work_client">
                    <div class = "modals_client">В наличие:</div>
                    <div>2</div>
                </div>
                <div class="modal_work_text">
                    <p>Ручка от квантоиума показывает твой статус!</p>
                    <p>Также она отлично пишет</p>
                </div>



            </div>



        </div>

    </div>
</div>

<div class="modals" id = "modals_price5">
    <div class="modals_dialog">

        <div class="modals_work">
            <button class = "modal_close" type="button" data-close>
                <img src="{% static 'main/assets/Close.png' %}">
             </button>


            <div class="modal_work_prewiew">
                <img class="img3" src="{% static 'main/assets/mask.jpg' %}">
            </div>

            <div class="modal_work_content">

                <div class="modal_work_header">
                    <h3 class = "modal_worh_title">Маска</h3>
                    <div class="modal_work_info">3</div>
                </div>
                <div class="modal_work_client">
                    <div class = "modals_client">В наличие:</div>
                    <div>2</div>
                </div>
                <div class="modal_work_text">
                    <p>Красивая маска от Кванториума!</p>
                    <p>Говорят она защищает от бактерий, но это не точно</p>
                </div>



            </div>



        </div>

    </div>
</div>
<div class="modals" id = "modals_price6">
    <div class="modals_dialog">

        <div class="modals_work">
            <button class = "modal_close" type="button" data-close>
                <img src="{% static 'main/assets/Close.png' %}">
             </button>


            <div class="modal_work_prewiew">
                <img class="img3" src="{% static 'main/assets/cup.jfif' %}">
            </div>

            <div class="modal_work_content">

                <div class="modal_work_header">
                    <h3 class = "modal_worh_title">Кружка</h3>
                    <div class="modal_work_info">8</div>
                </div>
                <div class="modal_work_client">
                    <div class = "modals_client">В наличие:</div>
                    <div>2</div>
                </div>
                <div class="modal_work_text">
                    <p>Красивая кружка от Кванториума!</p>
                    <p>Большая красивая кружка отлично сочитается с горячим шоколадом</p>
                </div>



            </div>



        </div>

    </div>
</div>
<div class="modals" id = "modals_price7">
    <div class="modals_dialog">

        <div class="modals_work">
            <button class = "modal_close" type="button" data-close>
                <img src="{% static 'main/assets/Close.png' %}">
             </button>


            <div class="modal_work_prewiew">
                <img class="img3" src="{% static 'main/assets/Brelok.jpg' %}">
            </div>

            <div class="modal_work_content">

                <div class="modal_work_header">
                    <h3 class = "modal_worh_title">Брелок</h3>
                    <div class="modal_work_info">3</div>
                </div>
                <div class="modal_work_client">
                    <div class = "modals_client">В наличие:</div>
                    <div>2</div>
                </div>
                <div class="modal_work_text">
                    <p>Красивая брелок от Кванториума!</p>
                    <p>Сочитается с ключами</p>
                </div>



            </div>



        </div>

    </div>
</div>


<div class="modals" id = "modals_price8">
    <div class="modals_dialog">

        <div class="modals_work">
            <button class = "modal_close" type="button" data-close>
                <img src="{% static 'main/assets/Close.png' %}">
             </button>


            <div class="modal_work_prewiew">
                <img class="img3" src="{% static 'main/assets/Backpack.jfif' %}">
            </div>

            <div class="modal_work_content">

                <div class="modal_work_header">
                    <h3 class = "modal_worh_title">Рюкзак</h3>
                    <div class="modal_work_info">25</div>
                </div>
                <div class="modal_work_client">
                    <div class = "modals_client">В наличие:</div>
                    <div>2</div>
                </div>
                <div class="modal_work_text">
                    <p>Фирменный рюкзак от Кванториума!</p>
                    <p>Полезная однако вещь столько всего можно положить.Правда дороговата
                    </p>
                </div>

            </div>



        </div>

    </div>
</div>